# Introduction to the Rahti container cloud

**Workshop at the NeIC 2019 conference, 15.5.2019 11:00**

Welcome the "Introduction to the Rahti container cloud" workshop! This handout
contains the most important links related to the workshop and its exercises.

## Session agenda

* Rahti introduction presentation 40 min
* Hands-on: Application from template 10 min
* Hands-on: Mock scientific computing job 20 min
* Hands-on: Web application deployment from source 20 min

We will show all the steps for exercises, so even if you don't have your laptop
with you or you would prefer to just observe, you will be able to see how to do
the things listed above. Material for the exercises will also be available (see
links below) so that you can try out the examples yourself after the workshop.
Following along on your own machine during the workshop is entirely optional.

## Credentials (valid until 16th of May)

* Username: {{ username }}
* Password: {{ password }}

## Links to material

| Material                             | URL                                                     |
|--------------------------------------|---------------------------------------------------------|
| **Rahti docs & platform**            | https://rahti.csc.fi                                    |
| **Slides**                           | https://rahti-intro.rahtiapp.fi/                        |
| **GitHub repository with examples**  | https://github.com/coderefinery/rahti-neic2019-workshop |
| **Slides GitHub repository**         | https://github.com/CSCfi/rahti-public-intro             |
