# Introduction to the Rahti container cloud

**Workshop at the NeIC 2019 conference, 15.5.2019 11:00**

Welcome the "Introduction to the Rahti container cloud" workshop! This handout
contains the most important links related to the workshop and its exercises.

## Credentials (valid until 16th of May)

* Username: {{ username }}
* Password: {{ password }}

## Links to material

| Material                             | URL                                                     |
|--------------------------------------|---------------------------------------------------------|
| **Slides**                           | https://rahti-intro.rahtiapp.fi/                        |
| **GitHub repository with examples**  | https://github.com/coderefinery/rahti-neic2019-workshop |
| **Slides GitHub repository**         | https://github.com/CSCfi/rahti-public-intro             |
